.title-riddle{
    text-align: center;
}

.title {
    text-align: center;
    padding: 30px;
}

#sub {
    text-align: center;
    font-size: 20px;
}

.container-centered {
    padding-top: 150px;
}

.cont {
    padding-top: 100px;
}

body {
    font-family: audiowide;
}

.riddle_index {
    text-align: center;
    margin-top: 74px;
    margin-bottom: 50px;
    font-weight: normal;
}

.result {
    text-align: center;
    padding: 50px;
}

.display-result {
    font-size: 20px;
    color: red;
    line-height: 3.5rem;
}

.form-inline {
    text-align: center;
}

#user_score {
    padding-top: 10px;
}