.title-riddle {
    text-align: center;
    
}

body {
    font-family: audiowide;
}

.riddle_index {
    text-align: center;
    margin-top: 74px;
    margin-bottom: 50px;
}

.result {
    text-align: center;
}

.display-result {
    font-size: 20px;
    color: red;
    line-height: 3.5rem;
}

.form-inline {
    text-align: center;
}