<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css" type="text/css" />
</head>
<body>
    <div class="main">
            <div class="container">
                <a href="/ ">
                    <h1 class="title-riddle"> Riddle Game </h1>
                </a>
                <h2 class="username"> Welcome, {{username}}! </h2>
                <div class="data">
                    <!--QUESTION-->
                    <h3 class="riddle_index"> {{data[riddle_index]["question"]}} </h3>
                </div>
                    <!--ANSWER-->
                <div class="col-md-4 answer-riddle">
                    <form method="POST" class="form-inline">
                        <input type="text" class="form-control" placeholder="answer" name="response" id="response" autofocus>
                        <input type="hidden" name="riddle_index" id="riddle_index" value= {{riddle_index}}>
                        <button class="btn btn-danger">Send</button>
                        
                    </form>
                </div>
                    <!--RESULT-->
            <div class="result">
                <h2 class="display-result" id="user_score">{{ ("You got {0} correct out of {1}".format(score, total_questions)) }}</h2>
                
            </div>
                </div>
                
            </div>
</body>
</html>