<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
</head>
<body>
    
  
            <div class="container">
                <h1 class="title">Riddle Game </h1>
                <h2 class="sub">Pick a username</h2>
                <div class="submitt-form">
                    <form method="POST" class="form-inline">
                        <input type="text" class="form-control" placeholder="username" name="username" id="username" autofocus>
                        <button class="btn btn-default">Go!</button>
                    </form>
                </div>
        </div>
    

    
</body>
</html>