{% extends 'base.html' %} 

{% block content %}

    <div class="container">
        <h1 class="title">Riddle Game</h1>
        <h2 class="sub">Choose an username</h2>
        <div class="submitt-form">
            <form method="POST" class="form-inline">
                <input type="text" class="form-control" placeholder="username" name="username" id="username" autofocus>
                <button class="btn btn-default">Go!</button>
            </form>
        </div>
    </div>
    
{% endblock %}
